html {
  height: 100%;
  overflow: hidden;
  max-width: 100%;
}

body {
  height: 100%;
  overflow: none;
}

/****************************/
/*** Navigator components ***/
/****************************/

smudgr-navigator {
  min-width: 330px;
  z-index: 2;
  background-color: rgb(210, 210, 210);
}

.navigator-content {
  overflow: auto;
  height: calc(100% - 314px);
}

.component-list-title {
  margin-left: 10px;
  color: #777777;
}

.component-card {
  background-color: #EEEEEE;
  min-height: 48px;
}

.component-container {
}

.component-name {
  font-size: 20px;
  line-height: 18px;
}

.component-collapse-button {
  margin-top: 5px;
}

.component-collapse-icon {
  fill: #777777;
}

/***************************/
/***** Rack components *****/
/***************************/

smudgr-rack {
  z-index: 3;
}

.rack-content {
  background-color: #999999;
  max-height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.element-card {
  width: 300px;
  height: 250px;
  background-color: #DDDDDD;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  outline: none;
}

.element-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.element-card-title {
  padding-top: 12px;
}

.element-name {
  color: #606060;
}

.element-enable-button {
}

.element-enable-icon {
  fill: #606060;
}

/***************************/
/****** Miscellaneous ******/
/***************************/

.md-subheader {
  background-color: rgba(0,0,0,0);
}
