**/.DS_Store
**/smudgr.jar
**/smudgr_errors.log
**/smudgr.log

**/node_modules/
builds/osx/*
builds/win/*
builds/linux/*
/bin/
/output/
**/.DS_Store
**/hs_err_pid*
**/debug.log
**/smudgr.jar
.idea/*
.settings/*
/data/
