<style>
  smudgr-canvas {
    background-blend-mode: multiply;
    background-color: #FFF;
    background-image: url('http://cdn.mos.cms.futurecdn.net/eaefe43209de597d968f97e9cd58dc85.jpg');
    background-repeat: repeat;
  }
  .canvas-container {
  }
</style>

<div class="canvas-container" layout="column" layout-align="center center" flex>
  <!-- <canvas id="canvas" ng-if="testCanvasStream">
  </canvas> -->
  <img src="https://github.com/skykistler/smudgr-website/blob/gh-pages/img/gallery/Nicole2.gif?raw=true">
</div>
