<style>
  .smudgr-menu {
    min-height: 48px;
    max-height: 48px;
    background-blend-mode: multiply;
    background-color: #aaa !important;
    background-image: url('http://cdn.mos.cms.futurecdn.net/eaefe43209de597d968f97e9cd58dc85.jpg');
    background-repeat: repeat;
  }
  .md-button {
    font-size: 18px !important;
    color: white !important;
  }
</style>

<div class="smudgr-menu">
  <md-toolbar
      class="smudgr-menu"
      layout="row"
      layout-align="space-between center">
      <div layout="row" layout-align="start center">
        <md-menu md-offset="0 50" ng-repeat="menu in menuBar">
          <md-button ng-click="$mdOpenMenu()">{{ menu.title }}</md-button>
          <md-menu-content width="4">
            <div ng-repeat="item in menu.items">
              <md-menu-item>
                <md-button ng-click="action(item.action)"
                           style="color: #333 !important">
                  {{ item.title }}
                </md-button>
              </md-menu-item>
            </div>
          </md-menu-content>
        </md-menu>
      </div>
      <md-button class="md-raised md-accent"
                 style="text-transform:none; width: 115px; text-align: left;">
        smudgr
        <ng-md-icon icon="now_widgets"
                    style="fill: white;
                    position: absolute;
                    top: 6px;
                    padding-left: 10px;">
        </ng-md-icon>
      </md-button>
  </md-toolbar>
</div>
