<style>
  smudgr-navigator {
    min-width: 330px;
  }
  md-content {
    background-color: rgb(210, 210, 210);
  }
</style>

<md-content ng-show="currentElement()" layout="column" flex>

  <component-list type="Bound" title="Bounds"></component-list>
  <md-divider></md-divider>
  <component-list type="Selector" title="Selectors"></component-list>
  <md-divider></md-divider>
  <component-list type="Flow" title="Flows"></component-list>
  <md-divider></md-divider>
  <component-list type="Operation" title="Operations"></component-list>

</md-content>
